.discountpercent img{
    width:200px
}
.discountpercent{
    position: absolute;
    border-radius: 2px;
    top: 8px;
    right: 8px;
    background: #feefde;
    color: #f68b1e;
}
.discountprice{
    text-decoration: line-through
}
.productCards{
    display:flex;
    justify-content:center;
}
.CarousalProduct{
    display: flex;
    margin: 70px
}
.CarousalProductButton > img{
    margin-top: 200%;
}
.alice-carousel__stage-item{
    width: 150px !important;
    margin-left: 15%
}