
.img-zoom-container  {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#img-zoom-container{
  display: flex
}
#imgToZoom{
  margin: 20px
}
.img-zoom-lens {
  position: absolute;
  border: 0px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}
.zommGalary >img{
  padding: 5px
}
.img-zoom-result {
  
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 300px;
  height: 300px;
}
#normalImg{
display: none
}
.zommGalary{
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 600px) {
  .img-zoom-result {
    display:none
  }
  #normalImg{
    display: inline;
  }
  #myimage{
    width: 0;
    height: 0;
  }
}