.search input {
  border: 1px solid #999;
  padding: 0.5rem;
}



.suggestions {
  z-index: 1 ;
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(200px + 1rem);
}

.suggestions li {
  padding: 0.5rem;
  background-color: white
}

.suggestion-active,
.suggestions li:hover {
  background-color: gray;
  color: #fae042;
  cursor: pointer;
  font-weight: 700;
}
.suggestionsClass{
  position: absolute;
  z-index: 5 ;

}
.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}
.search{ 
  position: relative;
  display: flex;
  padding: 2%;
  z-index: 5 ;

}
@media screen and (min-width: 480px) {
  .search{ 
    position: relative;
    display: flex;
    padding: 2%;
    width: 100%;
    z-index: 5 ;
  
  }
}